.App {
  text-align: center;
 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: rgb(37, 36, 36);
}
.card{
 width: 25rem;
 height: 20rem;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 background-color: hsl(216, 12%, 8%);
 justify-content: space-around;
 border-radius: 0.5rem;
 padding: 1rem;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card1{
  align-items: flex-start;
}
.img-span{
  padding: 0.4rem;
  border-radius: 50%;
  background-color: rgb(31, 30, 30);
}
h1{
  color: #fff;
  margin: 0;
  padding: 0;
}
p{
  text-align: left;
  color: #fff;
  opacity: 0.40;
}
.rating-box{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 95%;
  padding: 0.2rem;
  margin-top: 0.5rem;
}
.rating{
  padding: 0.9rem;
  background-color: hsl(210, 1%, 31%);
  color: #fff;
  border-radius: 55%;
  opacity: 0.70;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}
.rating:hover{
  opacity: 1;
  background-color:  hsl(216, 12%, 54%);
}
.rating.selected{
  background-color:  hsl(25, 97%, 53%);
  opacity: 1;
}
.btn{

  border-radius: 1rem;
  width: 95%;
  padding: 0.6rem;
  margin-top: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  background-color: hsl(25, 97%, 53%);
  color: #fff;
  
}
.btn:hover{
  background-color: #fff;
  color:hsl(25, 97%, 53%);


}
.card2{
  align-items: center;
 
}

.card2 span{
  background-color: hsl(214, 14%, 10%);
  border-radius: 1rem;
  color: hsl(25, 97%, 53%);
  padding: 0.6rem;
  width: 55%;
}
.card2 p{
  width: 80%;
}


@media screen and (max-width: 530px) {
  .card{
    width: 20rem;
  }
}